{% extends 'base.html' %}

{% block content %}
  <a href="/">Home</a>
  <hr/>
  <h1>Please wait while we transfer you!</h1>
  <p>
    If you've changed your mind, press <a href="/">Home</a>.
  </p>
  <div id="output" class="well clearfix">
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript" src="static/js/jquery.eventsource.js"></script>
  <script type="text/javascript">
$(document).ready(function () {
  var output = $('#output');

  function out(str) {
    output.append(str + '<br/>');
  }

  out("Connecting...");

  var progress = undefined;

  $.eventsource({
    label: 'connect',
    dataType: 'json',
    url: '/get-token' + window.location.search,
    open: function (data) {
      out("Carrier detected");
    },
    message: function (data) {
      if (data.output) {
        out(data.output);
      }

      if (data.profile) {
        var well = $('<div>', {
          class: 'well clearfix'
        }).appendTo(output);

        well.append($('<img>', {
          src: data.profile.normal_picture,
          class: 'img-rounded pull-right'
        }));
        well.append($('<h2>', { text: data.profile.name }));
        well.append($('<p>', {
          text: data.nitems + " items to download."
        }));
      }

      if (data.n) {
        progress.width(100 * data.n / data.nitems + '%');
      }

      if (data.state == 'download') {
        out("Downloading...");
        progress = $('<div>', {
          class: 'bar'
        }).appendTo($('<div>', {
          class: 'progress progress-striped active'
        }).appendTo(output));
      }
      else if (data.state == 'complete' || data.state == 'failed') {
        if (data.error) {
          out(data.error);
        }

        out("Disconnected");
        $.eventsource('close', 'connect');
      }
    },
  });
});
  </script>
{% endblock %}
