{% extends 'base.html' %}

{% block content %}
  <a href="https://github.com/danni/cycle-router">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" 
	 alt="Fork me on GitHub">
  </a>

  <div class="jumbo">
    <h1>Crowdsourced cycle maps</h1>
    <p class="lead">
      Every day lots of people are recording the rides on their GPSes
      and uploading it to the web. Let's use this data to create crowd
      sourced cycle maps for Melbourne (and other cities).
    </p>
    <p>
    {{ nusers }} contributors.
    {{ '%.1f'|format(nkms) }} kilometers.
    </p>
  </div>

  <hr/>

  <div class="row-fluid">
    <div class="span6">
      <h2>How?</h2>
    </div>
    <div class="span6">
      <h2>Why?</h2>
    </div>
  </div>

  <h2>Let's go!</h2>
  <div class="jumbo">
    <a id="connect-rk" class="btn btn-large btn-success" href="/authorize">
      Connect to RunKeeper
    </a>
  </div>
{% endblock %}
